In [1]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_excel('../data/CityTemp/CityTemp.xlsx')
df.head()

,,Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec,Latitude
0,Amsterdam,2,2,5,8,12,15,17,17,15,11,6,3,52.37
1,Ankara,1,0,6,12,17,19,23,22,18,14,8,2,39.87
2,Athens,9,10,12,16,21,26,29,28,24,20,15,11,37.97
3,Belgrade,1,3,8,13,17,22,23,23,19,14,8,6,44.82
4,Berlin,-2,1,4,10,14,18,21,19,16,10,4,0,52.52

In [7]:
def remove_whitespace( x ):
    if isinstance( x, str ):
        return x.strip()
    else:
        return x

df = df.applymap( remove_whitespace )
matrix=df.to_numpy()

In [8]:
temp_matrix=np.zeros((33,13))

In [9]:
for i in range(33):
  temp_matrix[i]=matrix[i][1:].astype(np.float)

In [10]:
temp_matrix[4][12]

52.52

In [11]:
temp_matrix.shape

(33, 13)

In [13]:
print (df.head().to_latex())

\begin{tabular}{lllllllllllllll}
\toprule
{} &  Jan   &  Feb   &  Mar   &  Apr   &  May   &  Jun   &  Jul   &  Aug   &  Sep   &  Oct   &  Nov   &  Dec   &  Latitude \\
\midrule
0 &  Amsterdam &      2 &      2 &      5 &      8 &     12 &     15 &     17 &     17 &     15 &     11 &      6 &      3 &     52.37 \\
1 &     Ankara &      1 &      0 &      6 &     12 &     17 &     19 &     23 &     22 &     18 &     14 &      8 &      2 &     39.87 \\
2 &     Athens &      9 &     10 &     12 &     16 &     21 &     26 &     29 &     28 &     24 &     20 &     15 &     11 &     37.97 \\
3 &   Belgrade &      1 &      3 &      8 &     13 &     17 &     22 &     23 &     23 &     19 &     14 &      8 &      6 &     44.82 \\
4 &     Berlin &     -2 &      1 &      4 &     10 &     14 &     18 &     21 &     19 &     16 &     10 &      4 &      0 &     52.52 \\
\bottomrule
\end{tabular}